.featured {
    width: 70%;
    display: flex;
    margin: auto;
    justify-content: space-between;
    margin-top: 20px;
  }
  .featured2 {
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: space-between;
    margin-top: 20px;
  }
  .featuredItem {
    flex: 1;
    margin: 0px 20px;
    padding: 30px;
    border-radius: 10px;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  }
  
  .featuredItem div{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .featuredTitle{
      font-size: 20px;
  }
  .btn{
    padding: 5px;
    background-color: gray;
    color: white;
  }
  .featuredMoneyContainer{
      margin: 10px 0px;
      display: flex;
      align-items: center;
  }
  
  .featuredMoney{
      font-size: 30px;
      font-weight: 600;
  }
  
  .featuredMoneyRate{
      display: flex;
      align-items: center;
      margin-left: 20px;
  }
  
  .featuredIcon{
      font-size: 14px;
      margin-left: 5px;
      color: green;
  }
  
  .featuredIcon.negative{
      color: red;
  }
  
  .featuredSub{
      font-size: 15px;
      color: gray;
  }